* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Mirador;
    src: url(/fonts/mirador-bold.otf);
}

@font-face {
    font-family: ttNorms;
    src: url(/fonts/ttnorms-bold.otf);
}

.content-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

/* BUTTONS */

.button-blue {
    background-color: #0042ce;
    border: none;
    color: white;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    font-family: ttNorms;
    font-size: 15px;
}

.button-blue::after {
    content: "";
    border: 10px solid transparent;
    border-left-color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.button-blue:hover {
    background-color: #89e6d9;
}

.button-transparent {
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    color: white;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    font-family: ttNorms;
    font-size: 15px;
}

.button-transparent::after {
    content: "";
    border: 10px solid transparent;
    border-left-color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.button-transparent:hover {
    background-color: white;
    color: #0042ce;
}

.button-transparent:hover::after {
    border-left-color: #0042ce;
}

/* HEADER */

.header {
    width: 100%;
    height: 80px;
    background-color: #101820;
    justify-content: center;
    padding: 15px 0;
    position: fixed;
    z-index: 2;
}

.header .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding: 5px 0;
}

.header__navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    font-family: ttNorms;
}

.nav-item:hover {
    color: #89e6d9;
}

.header__navigation-dropdown {
    padding-right: 15px;
    position: relative;
}

.header__navigation-dropdown::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 7px;
    right: 0px;
    transition: all 200ms ease-in-out;
}

.header__navigation-dropdown:hover::after {
    border-top-color: #89e6d9;
}

.header__navigation-button {
    height: 100%;
    width: 160px;
}

/* MAIN */

section {
    background-color: #101820;
    width: 100%;
}

.main__hero {
    min-height: 150vh;
    padding-top: 420px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.main__hero .content-wrapper {
    position: sticky;
    bottom: 250px;
    margin-bottom: 150px;
}

.main__hero-heading-small {
    font-family: ttNorms;
    font-size: 34px;
    margin-bottom: 15px;
}

.main__hero-heading-large {
    font-family: Mirador;
    font-size: 60px;
    color: white;
}

.main__why {
    padding-top: 80px;
    padding-bottom: 100px;
}

.main__why-box {
    width: 100%;
    height: 570px;
    background-color: #89e6d9;
}

.main__why-box-inner {
    width: 96%;
    height: 600px;
    position: relative;
    background-color: white;
    top: -80px;
    padding: 100px;
    padding-right: 180px;
}

.main__why-subtitle {
    font-family: ttNorms;
    color: black;
    font-size: 25px;
}

.main__why-title {
    color: #101820;
    font-family: Mirador;
    font-size: 43px;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 60px;
}

.main__why-button {
    height: 60px;
    width: 170px;
}

.main__why-image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main__features-title {
    font-family: Mirador;
    font-size: 50px;
    padding-right: 200px;
    margin-bottom: 140px;
}

.main__features-content {
    width: 100%;
    display: flex;
    /**TO REMOVE VVVV*/
    padding-bottom: 100vh;
}

.features__content-left {
    width: 50%;
    box-sizing: border-box;
    position: relative;
}

.features__content-left-image {
    position: sticky;
    width: 550px;
    top: 200px;
}

.features__content-right {
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

.features__content-box {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features__content-box:nth-of-type(2) {
    margin: 350px 0;
}

.features__content-box-title {
    font-family: Mirador;
    font-size: 40px;
}

.features__content-box-subtitle {
    font-family: ttNorms;
    font-size: 25px;
    margin: 30px 0;
    line-height: 40px;
}

.features__content-box-button {
    height: 60px;
    width: 170px;
}