* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Mirador;
    src: url(/fonts/mirador-bold.otf);
}

@font-face {
    font-family: ttNorms;
    src: url(/fonts/ttnorms-bold.otf);
}

.content-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

/* BUTTONS */

.button-blue {
    background-color: #0042ce;
    border: none;
    color: white;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    font-family: ttNorms;
    font-size: 15px;
}

.button-blue::after {
    content: "";
    border: 10px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 15px;
    right: 20px;
}

.button-blue:hover {
    background-color: #89e6d9;
}

/* HEADER */

.header {
    width: 100%;
    height: 80px;
    background-color: #101820;
    justify-content: center;
    padding: 15px 0;
    position: fixed;
    z-index: 2;
}

.header .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding: 5px 0;
}

.header__navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    font-family: ttNorms;
}

.nav-item:hover {
    color: #89e6d9;
}

.header__navigation-dropdown {
    padding-right: 15px;
    position: relative;
}

.header__navigation-dropdown::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 7px;
    right: 0px;
    transition: all 200ms ease-in-out;
}

.header__navigation-dropdown:hover::after {
    border-top-color: #89e6d9;
}

.header__navigation-button {
    height: 100%;
    width: 160px;
}

/* MAIN */

.main__hero {
    width: 100%;
    min-height: 150vh;
    background-color: #101820;
    padding-top: 420px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.main__hero .content-wrapper {
    position: sticky;
    bottom: 250px;
    margin-bottom: 150px;
}

.main__hero-heading-small {
    font-family: ttNorms;
    font-size: 34px;
    margin-bottom: 15px;
}

.main__hero-heading-large {
    font-family: Mirador;
    font-size: 60px;
    color: white;
}