* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Mirador;
    src: url(./fonts/mirador-bold.otf);
}

@font-face {
    font-family: ttNorms;
    src: url(./fonts/ttnorms-bold.otf);
}

@font-face {
    font-family: ttNormsLight;
    src: url(./fonts/ttnorms-light.otf);
}

.content-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

/* BUTTONS */

.button-blue {
    background-color: #0042ce;
    border: none;
    color: white;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    font-family: ttNorms;
    font-size: 15px;
}

.button-blue::after {
    content: "";
    border: 10px solid transparent;
    border-left-color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.button-blue:hover {
    background-color: #89e6d9;
}

.button-white-transparent {
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    color: white;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    font-family: ttNorms;
    font-size: 15px;
}

.button-white-transparent::after {
    content: "";
    border: 10px solid transparent;
    border-left-color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.button-white-transparent:hover {
    background-color: white;
    color: #0042ce;
}

.button-white-transparent:hover::after {
    border-left-color: #0042ce;
}

.button-blue-transparent {
    background-color: rgba(0,0,0,0);
    border: 2px solid #0042ce;
    color: #0042ce;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    font-family: ttNorms;
    font-size: 15px;
}

.button-blue-transparent::after {
    content: "";
    border: 10px solid transparent;
    border-left-color: #0042ce;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.button-blue-transparent:hover {
    background-color: #0042ce;
    color: white;
}

.button-blue-transparent:hover::after {
    border-left-color: white;
}

/* HEADER */

.header {
    width: 100%;
    height: 80px;
    background-color: #101820;
    justify-content: center;
    padding: 15px 0;
    position: fixed;
    z-index: 2;
}

.header .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding: 5px 0;
}

.header__navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 40px;
    color: white;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    font-family: ttNorms;
}

.nav-item:hover {
    color: #89e6d9;
}

.nav-item:nth-of-type(2):hover ~ .header__dropdown:nth-of-type(1),
.nav-item:nth-of-type(3):hover ~ .header__dropdown:nth-of-type(2),
.nav-item:nth-of-type(4):hover ~ .header__dropdown:nth-of-type(3) {
    top: 50px;
    opacity: 1;
}

.header__navigation-dropdown {
    padding-right: 15px;
    position: relative;
}

.header__navigation-dropdown::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 7px;
    right: 0px;
    transition: all 200ms ease-in-out;
}

.header__navigation-dropdown:hover::after {
    border-top-color: #89e6d9;
}

.header__navigation-button {
    height: 100%;
    width: 160px;
}

.header__dropdown {
    position: absolute;
    top: 100px;
    opacity: 0;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 20px;
    transition: all 250ms ease-in-out;
}

.header__dropdown-link {
    text-decoration: none;
    font-family: ttNormsLight; 
    font-size: 15px;
}

.header__dropdown-image {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}


.header__dropdown-link:not(:last-child) {
    margin-bottom: 20px;
}

.header__dropdown:nth-of-type(1) {
    left: 640px;
}

.header__dropdown:nth-of-type(2) {
    left: 760px;
}

.header__dropdown:nth-of-type(3) {
    left: 880px;
}

.header__hamburger {
    display: none;
}

@media screen and (max-width: 810px) {
    .header__hamburger {
        display: block;
    }
    
    .header__navigation {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .header {
        height: 60px;
    }
}

/* MAIN */

section {
    background-color: #101820;
    width: 100%;
}

.main__hero {
    min-height: 150vh;
    padding-top: 220px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.main__hero .content-wrapper {
    position: sticky;
    bottom: 320px;
    margin-bottom: 150px;
}

.main__hero-heading-small {
    font-family: ttNorms;
    font-size: 34px;
    margin-bottom: 15px;
}

.main__hero-heading-large {
    font-family: Mirador;
    font-size: 60px;
    color: white;
}

@media screen and (max-width: 800px) {
    .main__hero-heading-small {
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .main__hero-heading-large {
        font-family: Mirador;
        font-size: 40px;
        color: white;
    }
}

@media screen and (max-width: 350px) {
    .main__hero-heading-small {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .main__hero-heading-large {
        font-family: Mirador;
        font-size: 30px;
        color: white;
    }
}

.main__why {
    padding-top: 80px;
    padding-bottom: 100px;
}

.main__why-box {
    width: 100%;
    height: 570px;
    background-color: #89e6d9;
}

.main__why-box-inner {
    width: 96%;
    min-height: 600px;
    position: relative;
    background-color: white;
    top: -80px;
    padding: 100px;
    padding-right: 180px;
}

.main__why-subtitle {
    font-family: ttNorms;
    color: black;
    font-size: 25px;
}

.main__why-title {
    color: #101820;
    font-family: Mirador;
    font-size: 43px;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 60px;
}

.main__why-button {
    height: 60px;
    width: 170px;
}

.main__why-image {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 810px) {
    .main__why-box-inner {
        padding: 20px;
        padding-right: 30px;
    }

    .main__why-image {
        display: none;
    }

    .main__why-subtitle {
        font-size: 15px;
    }
    
    .main__why-title {
        font-size: 33px;
        margin-top: 30px;
        margin-bottom: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 350px) {
    .main__why-subtitle {
        font-size: 15px;
    }
    
    .main__why-title {
        font-size: 23px;
        margin-top: 30px;
        margin-bottom: 40px;
        line-height: 35px;
    }
}

.main__features-title {
    font-family: Mirador;
    font-size: 50px;
    padding-right: 200px;
    margin-bottom: 140px;
}

.main__features-content {
    width: 100%;
    display: flex;
    padding-bottom: 200px;
}

.features__content-left {
    width: 50%;
    box-sizing: border-box;
    position: relative;
}

.features__content-left-image {
    position: sticky;
    width: 100%;
    top: 200px;
}

.features__content-right {
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

.features__content-box {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features__content-box:nth-of-type(2) {
    margin: 350px 0;
}

.features__content-box-title {
    font-family: Mirador;
    font-size: 40px;
}

.features__content-box-subtitle {
    font-family: ttNorms;
    font-size: 25px;
    margin: 30px 0;
    line-height: 40px;
}

.features__content-box-button {
    height: 60px;
    width: 170px;
}

@media screen and (max-width: 810px) {
    .main__features {
        display: flex;
        align-items: center;
    }

    .main__features-title {
        font-family: Mirador;
        font-size: 40px;
        padding-right: 0;
        margin-bottom: 140px;
    }

    .main__features-content {
        flex-direction: column;
    }

    .features__content-left,
    .features__content-right {
        width: 100%;
        height: auto;
    }

    .features__content-left {
        padding: 0 50px;
    }

    .features__content-box {
        width: 100%;
        height: auto;
    }

    .features__content-box:nth-of-type(2) {
        margin: 100px 0;
    }
}

@media screen and (max-width: 350px) {
    .features__content-left {
        padding: 0;
        margin-bottom: 30px;
    }
    .features__content-right {
        padding: 0;
    }
}

.main__partnerships {
    min-height: 100vh;
    background-color: white;
    padding-top: 150px;
}

.main__partnerships-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main__partherships-button {
    border: none;
    background-color: rgba(0,0,0,0);
    font-family: ttNorms;
    color: #0042ce;
    font-size: 17px;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.main__partherships-button::after {
    content: "";
    border: 8px solid transparent;
    border-left-color: #0042ce;
    position: absolute;
    right: -17px;
    top: 3px;
}

.main__partherships-button:hover {
    color: #89e6d9;
}

.main__partherships-button:hover::after {
    border-left-color: #89e6d9;
}

.main__partherships-title {
    color: black;
    font-family: Mirador;
    font-size: 49px;
}

.main__partnerships-content {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    overflow-y: auto;
    padding: 0 calc((100vw - 1200px - 30px) / 2);
}

.main__partnerships-content::-webkit-scrollbar {
    height: 10px;
}
  
.main__partnerships-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.main__partnerships-content::-webkit-scrollbar-thumb {
    background: #0042ce;
}
  
.main__partnerships-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.partnerships__content-item {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

.partnerships__content-item:last-child {
    margin-right: 0;
}

.partnerships__content-item-title {
    font-family: ttNorms; 
    color: black;
    text-decoration: none;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .main__partnerships-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 810px){
    .partnerships__content-item {
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 50px;
    }

    .main__partnerships-content {
        width: 100%;
        height: 380px;
        margin-top: 50px;
        display: flex;
        overflow-y: auto;
        padding: 0 calc((100vw - 1200px - 30px) / 2);
    }
}

@media screen and (max-width: 450px) {
    .main__partnerships-content {
        width: 100%;
        height: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        overflow-y: none;
        /*padding: 0 calc((100vw - 1200px - 30px) / 2);*/
    }
    
    .partnerships__content-item {
        height: auto;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 20px;
    }

    .partnerships__content-item:not(:last-child) {
        margin-bottom: 40px;
    }
    
    .partnerships__content-item:last-child {
        margin-right: 0;
    }
    
    .partnerships__content-item-title {
        font-family: ttNorms; 
        color: black;
        text-decoration: none;
        font-size: 30px;
    }
}

@media screen and (max-width: 350px) {
    .main__partnerships-header {
        flex-direction: column;
    }
    .main__partherships-title {
        font-size: 30px;
    }
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
}

.footer .content-wrapper {
    display: flex;
}

.footer__column {
    width: calc(100% / 6);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.footer__column:nth-of-type(1) {
    padding-right: 80px;
}

.footer__column:nth-of-type(5) {
    padding-right: 110px;
}

.footer__column:nth-of-type(6) {
    padding: 0;
}

.footer__column-title {
    font-family: ttNorms; 
    color: black;
    font-size: 15px;
}

.footer__column-divider {
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    margin-top: 20px;
}

.footer__column-link {
    text-decoration: none;
    font-family: ttNormsLight; 
    margin-top: 15px;
    font-size: 15px;
    color: black;
    transition: all 200ms ease-in-out
}

.footer__column-link:hover {
    color: #89e6d9;
}

.footer__column-badge {
    height: 50px;
    margin-bottom: 20px;
}

.footer__column-button {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    position: relative;
}

.footer__column-button::after {
    right: calc(50% - 60px);
}

.footer__column:last-of-type .footer__column-link {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer__column-paragraph {
    font-family: ttNormsLight;
    margin: 0;
}

.footer__column-paragraph:first-of-type {
    margin-top: 30px;
}

@media screen and (max-width: 1200px) {

    .content-wrapper {
        padding: 0 20px;
    }

    .footer__column{
        width: calc(100% / 5);
    }
    
    .footer__column:nth-of-type(1) {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .footer__column{
        width: calc(100% / 4);
    }
    
    .footer__column:nth-of-type(5) {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    .footer .content-wrapper{
        flex-direction: column;
    }

    .footer__column {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .footer__column-title:not(:first-of-type) {
        margin-top: 30px
    }
    
}